header {
    align-items: center;
    background: $color-primary;
    color: #fff;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    left: 0;
    line-height: 1;
    padding: 0 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    .initials {
        align-items: center;
        display: flex;
        font-family: $font-boogaloo;

        a {
            color: inherit;
            margin-left: 15px;
            opacity: 0.6;
            transition: all 0.25s ease;

            &:hover {
                opacity: 1.0;
            }
        }
    }

    nav {
        a {
            color: inherit;
            display: inline-block;
            padding: 20px 0;
            text-decoration: none;

            + a {
                margin-left: 20px;
            }
        }
    }

    @media (max-width: 400px) {
        .initials {
            flex: auto;
            justify-content: center;
            padding: 20px 0;
        }

        nav {
            display: none;
        }
    }
}