html, body {
    background: #222222;
    color: #ececec;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.015em;
    line-height: 1.6;
}

h1 {
    font-size: 2em;
    margin: 0 auto;
}

.coming-soon {
    background: #494b84;
    border-radius: 2px;
    box-shadow: inset 0px 0px 12px 0px #22246d;
    margin: 40px auto;
    max-width: 95%;
    max-width: calc(100% - 20px);
    padding: 40px 0;
    text-align: center;
    text-shadow: 2px 2px 2px #191919;
    width: 600px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3em;
    }
}